<% if @music.external_link %>
  <div class="plyr__video-embed" id="player">
    <iframe src="<%= @music.external_link %>?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowtransparency allow="autoplay"></iframe>
  </div>
<% else %>
  <audio id="player" controls>
    <source src="<%= @music.music_file.url %>" type="audio/mp3">
  </audio>
<% end %>
